.seal {
    width: 150px;
    height: 100px;
}

.license {
    padding-left: 10px;
}

nav, .nav-bar.nav--fixed {
    background-color: #7EA07E !important;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}

.contact {
    color: white !important;
}

section {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}

a {
    padding-left: 15px;
    color: #073A07 !important;
}

ul.menu {
    padding-right: 30px !important;
}