.seal {
    width: 150px;
    height: 100px;
}

.license {
    padding-left: 10px;
}

.contact {
    color: white !important;
}

img.about-image {
    width: 250px !important;
    height: 200px !important;
}

section {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}

a {
    padding-left: 15px;
    color: #073A07 !important;
}

ul.menu {
    padding-right: 30px !important;
}

.btn.btn--primary {
    background-color: #F0C53B !important;
    border-color: #F0C53B !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.btn__text {
    color: grey !important;
}

.logo {
    width: 50px;
    height: 100px;
}