body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav.section {
  padding-top: 10px !important;
}

.contain {
  margin: 80px !important;
}

.footer {
  padding: 20px !important;
}

i {
  font-size: 25px !important;
}

.nav-bar, .nav-bar.nav--fixed {
  width: 700px;
  /* width: 50%; */
  margin: 0 auto;
  box-shadow: 0px !important;
}

#modal {
  color: white !important;
}

textarea.validate-required {
  z-index: inherit !important;
}

.nav-bar ul, .nav-bar.nav--fixed ul {
  margin: 0 auto;
  padding: 0;
  display:inline-block;
  list-style: none;
}

.nav-bar li, .nav-bar.nav--fixed li {
  display: inline-block;
}

.nav-bar li a, .nav-bar.nav--fixed li a {
  display: block;
  padding: 5px 5px;
  text-decoration: none;
}

textarea.validate-required {
  padding: 40px !important;
}